In [6]:
import pandas as pd
import seaborn as sns

In [7]:
df = pd.read_csv("datos_google_ads.csv")

In [8]:
df

,Keyword,Currency,Avg. monthly searches,Three month change,YoY change,Competition,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Ad impression share,...,Searches: Sep 2022,Searches: Oct 2022,Searches: Nov 2022,Searches: Dec 2022,Searches: Jan 2023,Searches: Feb 2023,Searches: Mar 2023,Searches: Apr 2023,Searches: May 2023,Searches: Jun 2023
0,servicios financieros,ARS,880.0,0%,0%,Medium,36.0,24.57,480.39,NaN,...,880.0,880.0,880.0,720.0,880.0,720.0,880.0,1000.0,1000.0,1000.0
1,sector economico,ARS,2400.0,-19%,0%,Low,0.0,10.59,76.88,NaN,...,2400.0,2400.0,3600.0,1600.0,210.0,1300.0,3600.0,3600.0,4400.0,2900.0
2,sectores economicos,ARS,2400.0,-19%,0%,Low,0.0,10.59,76.88,NaN,...,2400.0,2400.0,3600.0,1600.0,210.0,1300.0,3600.0,3600.0,4400.0,2900.0
3,sector cuaternario,ARS,880.0,0%,0%,Low,0.0,NaN,NaN,NaN,...,880.0,1000.0,1300.0,390.0,50.0,260.0,1000.0,1300.0,1600.0,1300.0
4,sector primario secundario y terciario,ARS,1000.0,0%,30%,Low,0.0,NaN,NaN,NaN,...,1000.0,1000.0,1600.0,720.0,90.0,390.0,1000.0,1300.0,1600.0,1300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,consultoria sector cuaternario,ARS,10.0,0%,∞,Low,0.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,10.0
399,la economia primaria,ARS,10.0,∞,0%,Low,0.0,NaN,NaN,NaN,...,10.0,10.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0
400,sector economico de claro,ARS,10.0,0%,-100%,Unknown,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
401,sector agropecuario economia,ARS,10.0,∞,0%,Low,0.0,NaN,NaN,NaN,...,10.0,10.0,10.0,0.0,0.0,0.0,10.0,0.0,0.0,10.0
402,sectores de la economia social,ARS,10.0,0%,0%,Low,0.0,NaN,NaN,NaN,...,10.0,20.0,10.0,10.0,0.0,10.0,10.0,10.0,10.0,10.0

In [9]:
df.describe()

,Avg. monthly searches,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Ad impression share,Organic impression share,Organic average position,In account?,In plan?,Searches: Jul 2022,...,Searches: Sep 2022,Searches: Oct 2022,Searches: Nov 2022,Searches: Dec 2022,Searches: Jan 2023,Searches: Feb 2023,Searches: Mar 2023,Searches: Apr 2023,Searches: May 2023,Searches: Jun 2023
count,376.000000,240.000000,110.000000,110.000000,0.0,0.0,0.0,0.0,0.0,376.000000,...,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000
mean,113.138298,26.166667,38.743545,319.398273,NaN,NaN,NaN,NaN,NaN,92.739362,...,112.606383,112.952128,125.159574,84.547872,84.175532,89.468085,130.132979,127.819149,140.292553,116.010638
std,458.770231,26.130453,35.709426,754.744091,NaN,NaN,NaN,NaN,NaN,415.741197,...,462.479825,458.961794,503.767117,381.102692,436.267638,420.783059,541.089995,540.896076,608.280786,481.952739
min,0.000000,0.000000,1.420000,4.280000,NaN,NaN,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,2.000000,9.952500,72.070000,NaN,NaN,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,17.000000,33.010000,139.105000,NaN,NaN,NaN,NaN,NaN,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
75%,20.000000,42.250000,51.297500,247.842500,NaN,NaN,NaN,NaN,NaN,10.000000,...,20.000000,20.000000,20.000000,10.000000,10.000000,10.000000,20.000000,20.000000,20.000000,20.000000
max,5400.000000,100.000000,191.110000,5460.370000,NaN,NaN,NaN,NaN,NaN,5400.000000,...,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,6600.000000,5400.000000

AttributeError: 'DataFrame' object has no attribute 'istography'